/*
音乐播放样式
*/

@-webkit-keyframes playing {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes playing {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-o-keyframes playing {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes playing {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}


/* 音乐框 */

.container {
    /* width: 400px; */
    margin-left: 480px;
    /* margin-top: 1em; */
    /* border: 1px solid red; */
    position: absolute;
    margin-top: 370px;
    /* margin-left: 300px; */
    /* height: 666px; */
}

#player {
    /* border: 1px solid blue; */
    background-color: #ffffff00;
    display: block;
    overflow: hidden;
    padding: 0 0 1em 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 15px;
    -webkit-box-shadow: #d8dcdd 0 5px 10px;
    -moz-box-shadow: #d8dcdd 0 5px 10px;
    box-shadow: #d8dcdd 0 5px 10px;
    /* margin-left: 300px; */
    /* height: 600px; */
}

.info {
    padding: 1em;
    position: relative;
    font-family: 'Merriweather Sans';
    color: #8b9195;
}

.love {
    position: absolute;
    top: .5em;
    right: 1em;
}

.caratula {
    width: 300px;
    overflow: hidden;
    height: 220px;
    position: relative;
}

.caratula img {
    width: 100%;
    position: relative;
}

.controls {
    margin-left: 1.2em;
}

.controls ul li {
    display: inline-block;
    margin-right: .17em;
    padding: .9em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7f8c8d), color-stop(100%, #95a5a6));
    background-image: -webkit-linear-gradient(top, #7f8c8d, #95a5a6);
    background-image: -moz-linear-gradient(top, #7f8c8d, #95a5a6);
    background-image: -o-linear-gradient(top, #7f8c8d, #95a5a6);
    background-image: linear-gradient(top, #7f8c8d, #95a5a6);
    text-align: center;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.controls ul li:hover {
    cursor: pointer;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1abc9c), color-stop(100%, #16a085));
    background-image: -webkit-linear-gradient(top, #1abc9c, #16a085);
    background-image: -moz-linear-gradient(top, #1abc9c, #16a085);
    background-image: -o-linear-gradient(top, #1abc9c, #16a085);
    background-image: linear-gradient(top, #1abc9c, #16a085);
}

.play,
.camera {
    padding: 1.6em !important;
}

.time {
    width: 100%;
    background-color: #ced2d3;
    height: 8px;
    display: block;
    overflow: hidden;
}

.progress {
    -webkit-animation: playing 60s infinite;
    /* Safari 4+ */
    -moz-animation: playing 60s infinite;
    /* Fx 5+ */
    -o-animation: playing 60s infinite;
    /* Opera 12+ */
    animation: playing 60s infinite;
    display: block;
    height: 8px;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #d35400), color-stop(100%, #f1c40f));
    background-image: -webkit-linear-gradient(left, #d35400, #f1c40f);
    background-image: -moz-linear-gradient(left, #d35400, #f1c40f);
    background-image: -o-linear-gradient(left, #d35400, #f1c40f);
    background-image: linear-gradient(left, #d35400, #f1c40f);
}

.icon-heart {
    color: #e74c3c;
}

.icon-star-empty {
    color: #babebf;
}

h2 {
    font-size: 1.4em;
    margin-bottom: .2em;
    text-shadow: rgb(79, 77, 110) 1px 1px 0;
    font-weight: 700;
}

h3 {
    font-size: 1em;
    font-weight: 400;
    color: #a9afb3;
}

.elapsed {
    margin-bottom: 1em;
    font-size: .8em;
    color: #c2c8cc;
}

.btn {
    font-size: 1em;
    color: #ecf0f1;
}

.more {
    background-color: #1abc9c;
    padding: 1em;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    color: white;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.more:hover+.bio {
    width: 100%;
    height: 100%;
    padding: 1.5em;
}

.bio {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0%;
    background-color: #1abc9c;
    overflow: hidden;
    color: white;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: .8em;
    line-height: 1.5em;
    text-align: center;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.bio h2 {
    font-family: 'Roboto';
    text-shadow: none;
    font-weight: 400;
    margin-bottom: .5em;
}

#screen {
    font: optional;
    font-size: 10px;
    color: rgb(16, 196, 202);
}